{% extends "base.html" %}


{% block title %}
{{ room }}
{% endblock %}


{% block script %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');

        socket.on('connect', function() {
            socket.emit('options', {});
        });
        socket.on('message', function(data) {
            var chat = document.getElementById("chat");
            chat.value += data.msg + '\n';
            chat.scrollTop = chat.scrollHeight;
        });
        socket.on('options', function(data) {
            var chat = document.getElementById("chat");
            chat.value += data.msg + '\n';
            chat.scrollTop = chat.scrollHeight;
        });

        $('#text').keypress(function(e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                send_message();
            }
        });

        socket.on('disconnect', function() {
            window.location.href = "{{ url_for('index') }}";
        });
    });

    function send_message() {
        text = document.getElementById("text").value;
        document.getElementById("text").value = '';
        socket.emit('message', {msg: text});
    }
</script>
{% endblock %}

{% block content_title %}
Room '{{ room }}'
{% endblock %}

{% block content %}
<label for="chat">History</label>
<textarea readonly id="chat" cols="80" rows="20" class="form-control"></textarea>
<br>
<label for="text">Message</label>

<div class="container">
    <div class="row">
        <input id="text" size="80" class="form-control col order-first" onkeyup=""
               placeholder="Enter your message here">
        <button class="btn btn-danger col-md-2 ml-3"
                onclick="send_message()">
            Send
        </button>
    </div>
</div>
<br>
<button onclick="disconnect()" class="btn btn-outline-danger">
    Leave this room
</button>
{% endblock %}
